body {
	background: #d7d6d6;
	color: #1123a5;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-smooth: always;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 3rem;
	letter-spacing: 1px;
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 0.82rem;
	font-weight: 400;
	margin: 1px 0 0 0;
	padding: 0;
	text-transform: uppercase;
}

.app-outer {

	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	left: 0;
	padding: 0px 0;
	position: absolute;
	right: 0;
	top: 0;
}

.app-inner {
  display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	/* max-width: 1000px; */
	width: 100%;
}

.app-slide {
	background: #ffffff;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 20px 40px 20px 40px;
}

.header-left-column {
	text-align: left;
}

.header-right-column {
	text-align: right;
}

.footer {
	text-align: center;
}

.icon {
	color: white;
	opacity: 0.5;
	margin: 20px 4px;
	transition: 0.6s;
}
.icon:hover {
	opacity: 1;
	transform: scale(1.2);
}

.cloud {
	flex: 1;
}

.word3d {
	transition: 1.4s;
}